/* Name列（1列目）を広げる
#confTable th:nth-child(1),
#confTable td:nth-child(1) {
  width: 30%;
} */

/* テーブルレイアウトを固定（列幅指定を効かせる） */
#confTable {
  table-layout: fixed !important;
  width: 100% !important;
}

/* Name列（1列目）を広げる */
#confTable th:nth-child(1),
#confTable td:nth-child(1) {
  width: 36% !important;
  white-space: normal;
  word-break: break-word;
}